<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>YouTube Header Mockup</title>
    <link rel="stylesheet" href="css/header.css" />
  </head>
  <body>
    <header class="yt-header">
      <div class="left">
        <button id="guide-button" class="yt-icon-button" aria-label="가이드">
          <div class="yt-icon-shape">
            <svg
              viewBox="0 0 24 24"
              focusable="false"
              style="
                pointer-events: none;
                display: block;
                width: 24px;
                height: 24px;
              "
            >
              <path
                d="M20 5H4a1 1 0 000 2h16a1 1 0 100-2Zm0 6H4a1 1 0 000 2h16a1 1 0 000-2Zm0 6H4a1 1 0 000 2h16a1 1 0 000-2Z"
              ></path>
            </svg>
          </div>
          <div class="yt-interaction"></div>
        </button>
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/b/b8/YouTube_Logo_2017.svg"
          class="logo"
        />
      </div>

      <div class="center">
        <input type="text" placeholder="검색" />
        <button>🔍</button>
      </div>

      <div class="right">
        <img class="plus" src="assets/plus.svg" alt="plus icon" />
        <img class="icon bell" src="assets/bell.svg" alt="notification icon" />
        <img class="icon login" src="assets/login.svg" alt="login button" />
      </div>
    </header>
  </body>
</html>
